.heading_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.heading .logo {
  max-width: 12em;
  height: auto;
  padding: 1.5em;
}

.heading button {
  background-color: transparent;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
}
@media (prefers-color-scheme: light) {
  .heading button {
    color: #213547;
  }
}

@media (max-width: 900px) {
  .heading_button {
    flex-direction: column;
  }

  .heading .logo {
    max-width: 50%;
    height: auto;
  }
}