.payload_info_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 5em 0;
}

.payload_info_container .description {
  text-align: justify;
  max-width: 600px;
}

.payload_info_container img {
  object-fit:fill;
  height: auto;
}

@media (max-width: 900px) {
  .payload_info_container {
    flex-direction: column;
    align-items: center;
  }

  .payload_info_container img {
    max-width: 90%;
  }

  .payload_info_container .description {
    text-align: left;
    padding: 0 1em;
  }

}

.home button:focus,
.home button:focus-visible,
.home button:hover {
  filter: drop-shadow(0 0 2em #ff1111aa);
  outline: none;
}

.home h2 {
  font-weight: lighter;
}




.payload_alone {
  width: 50%
}

.photo_gallery {
  display: flex;
  justify-content: flex-start;
  gap: 2em;
  padding: 2em;
  height: 20em;
  margin-top: 4em;
  overflow-x: auto;
  width: inherit;
}

.photo_gallery img {
  border-radius: 1em;
  box-shadow: 0 0 2em #00000088;
}