<!DOCTYPE html>
<html>
<head>
  <title>HASP Downlink</title>
  <script src="https://cdn.plot.ly/plotly-3.1.0.min.js" charset="utf-8" ></script>
  <link rel="stylesheet" href="../styles/home.css">
  <script src="{{ url_for('static', filename='graph.js') }}"></script>

</head>
<body style="background:#f8f9fa;font-family:sans-serif;">
  <h1>HASP Downlink</h1>
  <h2>UNL Aerospace Club: Experimental Payloads Team</h2>
  <p>Welcome to the HASP downlink page! This page displays real-time data from University of Nebraska's payload on the <a href="https://laspace.lsu.edu/hasp/">High Altitude Student Platform</a> high altitude balloon</p>
  <h3>Launch in T{{ time_since_launch }}</h3>
  <div class="graphs_grid">
    <ul>
      <li id="graph1"></li>
    </ul>
    <ul>
      <li id="graph2"><div id="tester" style="width:600px;height:250px;"></div></li>
    </ul>
    <ul>
      <li id="graph3"></li>
    </ul>
    <ul>
      <li id="graph4"></li>
    </ul>
  </div>

  <script>
    loadGraph("graph1", "{{ url_for('graph_data', graph_id=1) }}");
    loadGraph("graph2", "{{ url_for('graph_data', graph_id=2) }}");

    TESTER = document.getElementById('tester');
    Plotly.newPlot( TESTER, [{
    x: [1, 2, 3, 4, 5],
    y: [1, 2, 4, 8, 16] }], {
    margin: { t: 0 } } );
  </script>
</body>
</html>
